<!-- Banner -->
<section id="banner">
        <div class="content" id="home">
                <header>
                        <h1>{{ page.title }}</h1>
                        <p>4th November 2017</p>
                </header>
                <p>Info here.</p>
                <ul class="actions">
                        <li><a href="#" class="button big">Learn More</a></li>
                </ul>
        </div>
        <span class="image object">
                <img src="images/pic10.jpg" alt="" />
        </span>
</section>
